body{
    width:100%;
	height:100%;
    min-width:1000px;
    position:relative;
    display: flex;
    justify-content: center;
}
#main{
	width:100%;
	height:100%;
}

#tittle{
    text-align: center;
    font-size:large; 
}

h2 {
    text-align:left;
    margin-left: 20px;
    margin-top:5px;

}

#p1{
    font-size:large;
	text-align:justify;
    margin-left: 20px;
    margin-right: auto;
}

#p2{
    font-size:large;
	text-align:justify;
    margin-left: 20px;
    margin-right: auto;
}
#p3{
    font-size:large;
	text-align:justify;
    margin-left: 20px;
    margin-right: auto;
}

#image1{
    float:right;
    margin-right: 80px;
    margin-left:15px;
    margin-top:5px;
    display: block;
}